---
import DiscoverOurNewestInitiative from "../components/DiscoverOurNewestInitiative.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Our4BusinessUnits from "../components/Our4BusinessUnits.astro";
import OurEcosystems from "../components/OurEcosystems.astro";
import Partners from "../components/Partners.astro";
import SeeHowItWorks from "../components/SeeHowItWorks.astro";
import Main from "../layouts/Main.astro"

---

<Main>
  <Hero/>
  <Our4BusinessUnits/>
  <SeeHowItWorks/>
  <Partners/>
  <DiscoverOurNewestInitiative/>
  <Footer>
    <FAQ/>
    <OurEcosystems/>
  </Footer>
</Main>