---
import Header from "./Header.astro";
import Background from "../assets/backgrounds/grey_background.png"
---
<div class="hero">
  <Header/>
  <div class="hero__content">
    <h1 class="hero__title">Accelerating human-centered digital transformation.</h1>
    <p class="hero__text">
      As a full-service partner to ambitious minds, we bridge the gap between the needs and the solutions.<br/>
      We guide promising talent towards mature business opportunities to help you reach your full potential in the digital age.
    </p>
  </div>
  <figure class="hero__background">
    <img src={Background} alt="">
  </figure>
</div>

<style>
  .hero{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 1024px;
    padding-bottom: 100px;
    position: relative;
  }
  .hero__content{
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    border-bottom: 2px solid white;
    padding-bottom: 56px;
  }
  .hero__title{
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 113%;
    margin-bottom: 3rem;
    color: white;
  }
  .hero__text{
    max-width: 952px;
    width: 100%;
    font-size: 1.125rem;
    line-height: 166%;
    color:white;
  }
  .hero__background{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    left:0;
    top:0;
  }
  .hero__background img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @media (max-width: 1332px){
    .hero{
      padding: 0 2rem 100px 2rem;
    }
  }
  @media(max-width:809px){
    .hero{
      min-height: 744px;
      padding-bottom: 64px;
    }
    .hero__title{
      font-size: 2rem;
    }
    .hero__text{
      font-size: 1rem;
    }
  }
</style>