---
import LetsMeet from "./LetsMeet.astro";

---

<section class="our-ecosystems__container">
  <div class="our-ecosystems">
    <h3 class="our-ecosystems__title">Our ecosystems:</h3>
    <p class="our-ecosystems__text">Part of the Cronos Wallonia ecosystem and Micronos ecosystem.<br/> Proud member of Cronos Group.</p>
    <div class="our-ecosystems__plane">
      <LetsMeet/>
    </div>
  </div>
</section>

<style>
  .our-ecosystems{
    padding: 56px;
    border: 1px solid #C1CCCD;
    display: inline-block;
    position: relative;
  }
  .our-ecosystems__title{
    color: #C1CCCD;
    font-size: 2rem;
    line-height: 1.125;
    margin-bottom: 40px;
    font-weight: 400;
  }
  .our-ecosystems__container{
    max-width: 1300px;
    margin: 100px auto 140px auto;
  }
  .our-ecosystems__text{
    line-height: 165%;
    font-size: 1.125rem;
    color: #C1CCCD;
  }
  .our-ecosystems__plane{
    position: absolute;
    right: -37px;
    top:-55px;
  }
  @media(max-width:809px){
    .our-ecosystems__container{
      margin-top: 120px;
      margin-bottom: 120px;
    }
    .our-ecosystems{
      padding:2rem;
    }
    .our-ecosystems__title{
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }
    .our-ecosystems__text{
      font-size: 1rem;
    }
    .our-ecosystems__plane{
      right: -10px;
    }
  }
</style>